[Desktop Entry]
Encoding=UTF-8
Name=Enlace a assets
Type=Link
URL=https://github.com/theyashpatel/yt-react-one-portfolio/tree/main/src/assets
Icon=mate-fs-bookmark
